.login{
    display: flex;
    gap: 50px;
    background-color: green;
    color: antiquewhite;

}

.nav{
    width: 20px;
    height: 20px;
}
.first{
    display: flex;
    justify-content: ;
    gap: 20px;
}


.navbar{
    grid-area: 30px;
    text-align: center;
    gap: 30px;
}
.Images{
    width: 200px;
    height: 200px;
}
.plant1{
      display: flex;
      justify-self: center;

}

#cactus1{
    display: flex;
    justify-content: baseline;
    gap: 40px;
}
#cactus2{
    display: flex;
    justify-content: baseline;
    gap: 40px;
}
.cactus3{
    display: flex;
    justify-content: baseline;
    gap: 40px;
}

.plants{
    display: flex;
    justify-content: baseline;
    gap: 20px;
}
#featured{
    text-align: center;
}
.green{
    background-color: rgb(31, 143, 31);
    color: white;
    
}
#p1{
    color: rgb(5, 65, 5);
}
.bottletree{
    display:flex ;
    justify-content: baseline;
    gap: 20px;
}
.container{
    margin: 100px 150px;
}
#Price{
    text-align: center;
}
.cactustree{
    display:flex ;
    justify-content: baseline;
    gap: 20px;
}
#image31{
    width: 250px;
    height: 200px;
}
.Blog{
    display:flex ;
    justify-content: baseline;
    gap: 20px;
}
#image35{
    width: 100px;
    height: 100px;
}
.testimonials{
    width: 80px;
    height: 80px;
    gap: 40;
}
.icons{
    width: 25px;
    height: 25px;
}
.last{
    display: flex;
    justify-content: baseline;
    gap:50px;

}
.second{
    display: flex;
    gap: 30px;
}
.p{
    display: flex ;

}
#image44{
    width: 500px;
    height: 500px;
}



 @media screen  and (max-width:900px) {
    .login{
        display: flex;
        gap: 100px;
        background-color: green;
        color: antiquewhite;
    
    }

    .first{
        display: flex;
        flex-wrap: wrap;
    }
    .second{
        display: flex;
        flex-wrap: wrap;
    }
    .plants{
        display: flex;
        
        flex-wrap: wrap;
    }
    .image44{
     display: flex;
     flex-wrap: wrap;

    }
    #featured{
        text-align:20px ;
    }
 }
    

 
    
 

