.login{
    display: flex;
    gap: 50px;
    background-color: green;
    color: antiquewhite;

}

.navbar{
    grid-area: 30px;
    text-align: center;
}
.Images{
    width: 300px;
    height: 300px;
}
.plant1{
      display: flex;
      justify-self: center;

}
.orchid{
    
}
#cactus1{
    display: flex;
    justify-content: baseline;
    gap: 20px;
}
#cactus2{
    display: flex;
    justify-content: baseline;
    gap: 20px;
}
.cactus3{
    display: flex;
    justify-content: baseline;
    gap: 20px;
}

.firstrowplants{
    display: flex;
    justify-content: baseline;
    gap: 20px;
}
.secondrowplants{
 display: flex;
 justify-content: baseline;
 gap: 20px;
}
#featured{
    text-align: center;
}
.green{
    background-color: rgb(31, 143, 31);
    color: white;
    
}
#p1{
    color: rgb(5, 65, 5);
}
.bottletree{
    display:flex ;
    justify-content: baseline;
    gap: 20px;
}
.container{
    margin: 100px 150px;
}

@media screen   and (max-width:900px){

     .login{
    display: flex;
    gap: 20px;
    background-color: green;
    color: antiquewhite;
    font-size: smaller;

}
.Images{
    width: 150px;
    height: 150px;
}
.firstrowplants{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.secondrowplants{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   }
   .firstflowers{
    display: flex;
   flex-wrap: wrap;}

   .bottletree{
    display:flex ;
    gap: 20px;
    flex-wrap: wrap;
    font-size: small
}

}


